* {
    margin: 0;
    font-family: 'Work Sans', sans-serif;
}

/* header section styles */
.header {
    width: 1600px;
    height: 800px;
    background-image: url('../images/banner/banner1.png');
    background-repeat: no-repeat;

    padding-left: 900px;
    padding-top: 260px;
}

.banner-title {
    width: 510px;
    height: 220px;
    font-weight: 800;
    font-size: 55px;
    text-align: right;
    color: #151414;
}

.banner-description {
    color: #444343;
    text-align: right;
    width: 510px;
    height: 80px;
    margin-bottom: 10px;



}

.btn-primary {
    width: 130px;
    height: 55px;
    margin-left: 380px;
    font-weight: 600;
    font-size: 18px;
    background-color: #ee6909;
    color: #FFFFFF;
    border: none;
    border-radius: 8px;




}

/* failure styles */
.failures {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 150px;
    padding: 0 220px
}

.failures-details {
    width: 400px;
    height: 380px;
}

.failures-title {
    width: 280px;
    height: 90px;
    font-weight: 700;
    font-size: 35px;
    color: #151414;
    margin-bottom: 10px;
}

.failures-description {
    width: 400px;
    height: 100px;
    color: #444343;
}

.icon-special {
    width: 345px;
    height: 160px;
}

.icon-gap {
    margin-bottom: 10px;
}

i,
.check {
    color: green;
}

/* my plan section */
.my-plan {
    text-align: center;
    margin-bottom: 40px;


}

.plan-title {
    margin-bottom: 50px;
    font-weight: 700;
    font-size: 40px;
    color: #151414;
    padding: 15px;
}

.plan-container {
    display: flex;
    justify-content: space-around;
    padding: 0 190px;

}

.plan-heading {
    padding: 15px;
    font-weight: 800;
}

/* linear gradient styles */
.linear {

    background: linear-gradient(90deg, #F15B22 0%, rgba(241, 91, 34, 0) 100%), url('../images/watch.png');
    background-repeat: no-repeat;
    background-size: cover;
    width: 980px;
    height: 200px;
    margin-left: 272px;
    margin-top: 90px;
    border-radius: 10px;
    margin-bottom: 130px;


}

.linear-mini-section {
    padding-left: 30px;
    padding-top: 30px;
}

.linear-title {
    font-weight: 700;
    font-size: 30px;
    color: #FFFFFF;
    margin-top: 10px;
    ;

}

.btn-secondary {
    color: #F15B22;
    font-weight: 600;
    font-size: 16px;
    padding: 10px;
    border-radius: 5px;
    border: none;
    margin-top: 10px;
}

/* footer section styles */
footer {
    background-color: black;
    display: flex;
    justify-content: space-around;

}

.future {
    color: #FFFFFF;
    padding: 130px 0 130px 230px;
}

.future-title {
    font-weight: 700;
    font-size: 45px;
    color: #F8F8F8;
    margin-bottom: 15px;

}

.future-description {
    color: #FFFFFF;
    margin-bottom: 15px;
    font-weight: 400;
    font-size: 16px;
}

.future,
p,
a {
    color: #FFFFFF;
    text-decoration: none;
    margin-bottom: 15px;
    font-weight: 400;
    font-size: 16px;
}
img{
    padding:10px;
}

.subscribe {
    padding: 130px 230px 245px 0;
}

.subscribe-title {
    font-weight: 600;
    font-size: 25px;
    color: #FFFFFF;
    margin-bottom:20px;
}

input {
    border:none;
    height: 50px;
    width: 250px;
    border:1px solid #FFFFFF;
    border-radius: 8px;
    background-color: black;
    margin-bottom: 10px;
}